<%= form_with(model: plate, local: true) do |form| %>
  <% if plate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plate.errors.count, "error") %> prohibited this plate from being saved:</h2>

      <ul>
      <% plate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :restaurant_id %>
    <%= form.select :restaurant_id, Restaurant.all.collect { | restaurant | [restaurant.nome, restaurant.id]} %>
  </div>

  <!--div class="field">
    <!--%= form.label :ingredient_id %>
    <!--%= form.select :ingredient_id , Ingredient.all.collect { | ingredient | [ingredient.descricao, ingredient.id]}%>
  </div-->

  <div class="field">
    <%= Ingredient.all.each do | ingredient | %>
      <%= check_box_tag "plate[ingredient_ids][]", ingredient.id%>
      <%= ingredient.descricao %><br>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :preco %>
    <%= form.text_field :preco %>
  </div>

  <div class="field">
    <%= form.label :tempopreparo %>
    <%= form.time_select :tempopreparo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
